
<%= form_tag(students_path, multipart: true, method: :post) do %>
  <div class="field form-group col-md-3">
    <div class="row">
      <p><strong>Name</strong></p>
      <%=  text_field_tag :name, nil, :required => true , class: "form-control"  %>
    </div>
    <br>

    <div class="row">
      <p><strong>UNM ID</strong></p>
      <%= number_field_tag :unmid, nil, :required => true, in: 100000000...200000001, :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => "form-control" %>
    </div>
  
    <br>
    <div class="row">
      <p><strong>Email</strong></p>
      <%=  email_field_tag :email, nil, :required => true , class: "form-control" %>
    </div>
  </div>

  <div class="field form-group col-md-8 col-md-offset-1 ">
    <h4 class="text-primary">Please upload pdf or png or jpg or jpeg files only</h4>
    <div class="row">
      <p><strong>Course 1</strong></p>
      <div class="col-md-2">
        <%= select_tag "studentcourse[course1year]", options_for_select( 2015.. DateTime.now.year), :class => 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= select_tag "studentcourse[course1sem]", "<option>Fall</option><option>Summer</option><option>Spring</option>".html_safe, :class => 'form-control' %>
      </div>
      <div class="col-md-8">
        <input class="btn btn-primary req" required="Please attach this file" type="button" value="Upload File.." onclick="$(this).parent().find('input[type=file]').click();"/>
        <span class="badge badge-important" ></span>
        <input class="req" type="file" required="required"
            style="display:none; width: 1px;" 
            id='course1' name='studentcourse[course1]'  
            onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> 
      </div>
    </div>
    <br>
    <div class="row">
      <p><strong>Course 2</strong></p>
      <div class="col-md-2">
        <%= select_tag "studentcourse[course2year]", options_for_select( 2015.. DateTime.now.year), :class => 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= select_tag "studentcourse[course2sem]", "<option>Fall</option><option>Summer</option><option>Spring</option>".html_safe, :class => 'form-control' %>
      </div>
      <div class="col-md-8">
        <input class="btn btn-primary req" type="button" value="Upload File.." onclick="$(this).parent().find('input[type=file]').click();"/>
        <span class="badge badge-important" ></span>
        <input class="req" type="file" required="required"
            style="display:none; width: 1px;" 
            id='course2' name='studentcourse[course2]'  
            onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> 
      </div>
    </div>
    <br>
    <div class="row">
      <p><strong>Teaching Experience</strong></p>
      <div class="col-md-12">
        <input class="btn btn-primary req" type="button" value="Upload File.." onclick="$(this).parent().find('input[type=file]').click();"/>
        <span class="badge badge-important" ></span>
        <input class="req" type="file" required="required" 
            style="display:none; width: 1px;" 
            id='teachexp' name='studentcourse[teachexp]'  
            onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> 
      </div>
    </div>
  </div>

  <div class="form-group" >
    <div class="row">
    <div class="col-md-10" style="padding-top:20px">
    <p><strong>Workshops Attended</strong></p>
    <div class="col-md-2">
    <%= select_tag "y1", options_for_select( 2015.. DateTime.now.year), :class => 'form-control' %>
    </div>
    <div class="col-md-2">
    <%= select_tag "s1", "<option>Fall</option><option>Summer</option><option>Spring</option>".html_safe, :class => 'form-control' %>
    </div>
    <div class="col-md-4">
    <%= select_tag "n1", options_for_select( @workshopnames ) , :class => 'form-control'%>
    </div>
    </div>
    <br>

    <div class="col-md-10">
    <div class="col-md-2">
    <%= select_tag "y2", options_for_select( 2015.. DateTime.now.year), :class => 'form-control' %>
    </div>
    <div class="col-md-2">
    <%= select_tag "s2", "<option>Fall</option><option>Summer</option><option>Spring</option>".html_safe, :class => 'form-control' %>
    </div>
    <div class="col-md-4">
    <%= select_tag "n2", options_for_select( @workshopnames ) , :class => 'form-control'%>
    </div>
    </div>
    <br>

    <div class="col-md-10">
    <div class="col-md-2">
    <%= select_tag "y3", options_for_select( 2015.. DateTime.now.year), :class => 'form-control' %>
    </div>
    <div class="col-md-2">
    <%= select_tag "s3", "<option>Fall</option><option>Summer</option><option>Spring</option>".html_safe, :class => 'form-control' %>
    </div>
    <div class="col-md-4">
    <%= select_tag "n3", options_for_select( @workshopnames ) , :class => 'form-control'%>
    </div>
    </div>
    <br>

    <div class="col-md-10">
    <div class="col-md-2">
    <%= select_tag "y4", options_for_select( 2015.. DateTime.now.year), :class => 'form-control' %>
    </div>
    <div class="col-md-2">
    <%= select_tag "s4", "<option>Fall</option><option>Summer</option><option>Spring</option>".html_safe, :class => 'form-control' %>
    </div>
    <div class="col-md-4">
    <%= select_tag "n4", options_for_select( @workshopnames ) , :class => 'form-control'%>
    </div>
    </div>
    <br>

    </div>
  </div>

  <div class="row">
  <div class="col-md-5 actions">
    <%= submit_tag "Submit", :name => nil, :onclick => "wait()", class: "btn btn-success" %>
  </div>
  </div>
<% end %>

<script>
  function maxLengthCheck(object) {
    if (object.value.length > object.max.length)
      object.value = object.value.slice(0, object.max.length)
  }
    
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode (key);
    var regex = /[0-9]|\./;
    if ( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }
</script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByClassName("req");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("This field cannot be left blank");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
})
</script>
