<h2>New workshop</h2>
<%= form_tag('/admin/addworkshop', multipart: true, method: :post) do %>

<%= select_tag "year", options_for_select( Date.today.year.. 8.years.from_now.year) %>
<%= select_tag "semester", "<option>Fall</option><option>Summer</option><option>Spring</option>".html_safe %>
<%= text_field_tag :name %>
<%= submit_tag "Submit" %>
<% end %>