<div class="container">

<h2>New workshop</h2>

<%= form_tag('/admin/addworkshop', multipart: true, method: :post) do %>

<div class="field form-group col-sm-2">
<%= select_tag "year", options_for_select( 2015.. DateTime.now.year ),:class => 'form-control' %>
</div>
<div class="field form-group col-sm-2">
<%= select_tag "semester", "<option>Fall</option><option>Summer</option><option>Spring</option>".html_safe, :class => 'form-control'%>
</div>
<div class="field form-group col-sm-5">
<%= text_field_tag :name,nil,:required => true, :class => 'form-control' %>
</div>
<div class="field form-group col-sm-3"><br>
<%= submit_tag "Submit", :class => 'btn btn-success'%>
</div>
<% end %>

<br><br>
<h2>Workshops</h2>
<div id="workshops">
    <% if @workshops.size == 0 %>
    <h4 class="text-primary">There are no workshops. Add one from the form above</h4>
    <% else %>
	<% @workshops.each do |w| %>
	<tr>
	    <td><%= w.year %></td>
	    <td><%= w.semester %></td>
	    <td><%= w.name %></td>
	    <td><%= link_to 'List students', admin_workstudentslist_path(:id => w.id ), class: "btn btn-default" %></td>
	    <td><%= link_to 'Delete Workshop', admin_deleteworkshop_path(:id => w.id ),:method => :delete, class: "btn btn-default",data: { confirm: "Are you sure you want to delete this workshop?" } %></td>
	    <td><%= link_to 'Edit Workshop', admin_geditworkshop_path(:id => w.id ),:method => :get, class: "btn btn-default" ,data: { confirm: "Are you sure you want to edit this workshop?" }%></td>
	</tr></br>
	<% end %>
	<% end %>
</div>

</div>

<script>
(function(window, location) {
  history.replaceState(null, document.title, location.pathname+"#!/history");
  history.pushState(null, document.title, location.pathname);

  window.addEventListener("popstate", function() {
    if(location.hash === "#!/history") {
    history.replaceState(null, document.title, location.pathname);
    setTimeout(function(){
      location.replace("<%= admin_index_path %>");
    },0);
    }
  }, false);
}(window, location));
</script>